# Local binaries & tools
*.exe
*.ps1
!build.ps1

# Golang Local Compilation Artifacts
/syswarden-cli*
/syswarden-core*
/syswarden-tui*
src/core/syswarden-cli/syswarden-cli*
src/core/syswarden-core/syswarden-core*
src/core/syswarden-tui/syswarden-tui*
*_test
syswarden_test

# SysWarden Build Artifacts (CI/CD & Local)
dist/
.agents/
staging/
*.tar.gz
*.sig
*.crt
*.deb
*.rpm

# Obsolete Checksums (Enforces SLSA 3 Attestation usage)
*.sha256

# Local Execution Traces (If you test the script locally)
*.log
tmp/

# OS & Editor configurations (Prevents pushing personal settings)
.vscode/
.idea/
.DS_Store
Thumbs.db
null
